.admin-space{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--cp);
    background-color: rgba(255, 235, 205, 0.299);
}

.admin-space li{
    margin: 1em;
}

.admin-space li::before{
    content: "🥢";
}

.admin-space :target{
    background-color: black;
}
